<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Task List</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="js/app.js"></script>
    <script src="cordova.js"></script>
  </head>

  <body ng-app="tasklist" ng-controller="TaskListCtrl">
    <ion-side-menus>

<!-- Center content -->
<ion-side-menu-content>
  <ion-header-bar class="bar-dark">
      <!-- New Task button-->
      <button class="button button-icon" ng-controller="NewTaskModalCtrl" ng-click="createTaskModalFunctions.openModal()">
        <i class="icon ion-compose"></i>
      </button>

    <h1 class="title">Canelles task list</h1>

  </ion-header-bar>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="refreshTaskList()"></ion-refresher>
    <!-- our list and list items -->
    <ion-list>
      <ion-checkbox ng-repeat="task in getTasks()" ng-model="task.active" ng-change="onChangeTaskActive()" on-swipe-right="onSwipeRightTaskItem(task)">
        <i class="icon ion-star" ng-repeat="n in range(task.importance)"></i> [{{task.time}}] {{task.title}}
      </ion-checkbox>
    </ion-list>
  </ion-content>
</ion-side-menu-content>

    </ion-side-menus>


<script id="new-task.html" type="text/ng-template">

  <div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">New Task</h1>
      <button class="button button-clear button-positive" ng-click="createTaskModalFunctions.hideModal()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

      <form ng-submit="createTaskModalFunctions.submit()">
        <div class="list">
          <div class="item item-divider">Title:</div>
          <label class="item item-input">
              <input type="text" placeholder="What do you need to do?" ng-model="newTask.title">
          </label>
          <div class="item item-divider">Importance:</div>
          <label class="item item-input">
            <ion-radio ng-repeat="val in [1,2,3,4,5]" ng-model="newTask.importance" ng-value="{{val}}" name="importance"> {{val}} </ion-radio>
          </label>
          <div class="item item-divider">Estimated Time Slots:</div>
          <label class="item item-input">
            <ion-radio ng-repeat="val in [1,2,3,4,5,6,7,8,9,10]" ng-model="newTask.time" ng-value="{{val}}" name="time"> {{val}} </ion-radio>
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Create Task</button>
        </div>
      </form>

    </ion-content>

  </div>

</script>

  </body>

</html>
