<ion-view view-title="TaskList">
    <ion-nav-buttons side="primary">
        <!-- New Task button-->
        <button class="button button-icon" ng-controller="NewTaskModalCtrl" ng-click="createTaskModalFunctions.openModal()">
            <i class="icon ion-compose"></i>
        </button>
    </ion-nav-buttons>

    <ion-content>
        <ion-refresher pulling-text="Pull to refresh" on-refresh="refreshTaskList()"></ion-refresher>
        <!-- our list and list items -->
        <ion-list>
            <!-- Tasks for Today -->
            <ion-item class="list-section-header">
                Today
            </ion-item>
            <ion-item ng-repeat="task in getPrioritizedTasks().today track by $index" href="#/edittask/{{$index}}"
                      on-swipe-right="onSwipeRightTaskItem(task)" on-swipe-left="onSwipeLeftTaskItem(task)">
                <p ng-class="{strike: task.completed}"><i class="icon ion-star" ng-repeat="n in range(task.importance)"></i> [{{task.time}}] {{task.title}}</p>
            </ion-item>

            <!-- Upcoming tasks -->
            <ion-item class="list-section-header">
                Upcoming
            </ion-item>
            <ion-item ng-repeat="task in getPrioritizedTasks().upcoming track by $index" href="#/edittask/{{$index + getPrioritizedTasks().today.length}}"
                      on-swipe-right="onSwipeRightTaskItem(task)" on-swipe-left="onSwipeLeftTaskItem(task)">
                <p ng-class="{strike: task.completed}"><i class="icon ion-star" ng-repeat="n in range(task.importance)"></i> [{{task.time}}] {{task.title}}</p>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
